# Ignore node_modules
node_modules/

# Ignore build and dist folders
build/
dist/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.vscode/
.idea/
